// ------------
// OBJECTS.
// LISTS
// ------------

.list--unstyled,
%list--unstyled {
  margin-left: 0;
  padding: 0;
  list-style: none;
  * ul {
    list-style: none;
    margin-left: 0;
  }
}

.list--horizontal,
%list--horizontal {
  margin-left: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  li {
    position: relative;
    display: inline-block;
  }
}