// ------------
// SETTINGS.
// LISTS
// ------------

$list-margin-bottom: 10px;
$list-margin-left: 30px;
$list-margin-top: 0;
$list-item-line-height: 1.6;

$list-cell-padding: 10px;

$list-divider-color: $grey;

$list-stripped-color: $light-grey;
$list-stripped-text-color: $base-text-color;